<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrms.mapper.ErpMapper">

    <insert id="insertErp"   >
    insert into tb_erp(erp,model,descirbe,fw) values (#{erp},#{model},#{descirbe},#{fw})
    </insert>

   <select id="selectErp" resultType="com.hrms.bean.Erp" >
       select  * from  tb_erp
    <where>

        <if test="_parameter !=null and _parameter !=''">
           erp =#{erp}
        </if>

    </where>

   </select>

    <select id="selectErpByName" resultType="com.hrms.bean.Erp" >
        select  * from  tb_erp
         where  erp =#{erp}


    </select>

   <delete id="deleteErp" >
       delete  from  tb_erp where  erp=#{erp}
   </delete>

    <update id="updateErp">
        update  tb_erp set model= #{model},descirbe= #{descirbe},fw=#{fw},confirm=#{confirm} where  erp=#{erp}
    </update>

    <!-- 分页查询 -->
    <select id="selectErpByLimitAndOffset" resultType="com.hrms.bean.Erp">
        SELECT  *  FROM tb_erp  LIMIT #{offset}, #{limit}
    </select>
    <select id="selectErpNum" resultType="java.lang.Integer" >
        SELECT  count(*)  FROM tb_erp
    </select>

    <!--查询审核通过的-->
    <select id="selectErpByPass" resultType="com.hrms.bean.Erp">
        select  * from  tb_erp  where  confirm='通过'
        <if test="erp !=null and erp !=''">
            and  erp=#{erp}
        </if>
    </select>
</mapper>