<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrms.mapper.OC1Mapper">


    <insert id="insertOC1" parameterType="com.hrms.bean.PCBAData">
        insert into tb_oc1(mo,deviceNumber,operator,sn,model,testName,testTime,testResult,errorCode,fw)
         values (#{mo},#{deviceNumber},#{operator},#{sn},#{model},#{testName},#{testTime},#{testResult},#{errorCode},#{fw})
    </insert>

    <select id="selectOC1pass"  resultType="java.lang.Integer">
        select count(*) from  tb_oc1 where testResult="success" and date(testTime) = curdate()
    </select>

    <select id="selectOC1NG"  resultType="java.lang.Integer">
        select count(*) from  tb_oc1 where testResult="fail" and date(testTime) = curdate()
    </select>

    <select id="selecthismonthmodel" resultType="java.lang.String">
        SELECT DISTINCT
        	model
        FROM
        	tb_oc1
        WHERE
            testResult='success'
        and mo not like 'T600%'
        and
        	DATE_FORMAT(testTime, '%Y%m') = DATE_FORMAT(#{daytime}, '%Y%m')
    </select>
    <select id="selectrightcountbymodeldaily" resultType="java.lang.Integer">
        SELECT count(distinct sn)
        FROM
        	tb_oc1
        WHERE
        testResult='success'
        and
        	testTime between #{daytime}' 00:00:00' AND #{daytime}' 23:59:59'
        and model=#{model}
    </select>
    <select id="selectwrongcountbymodeldaily" resultType="java.lang.Integer">
        SELECT count(distinct sn)
        FROM
        	tb_oc1
        WHERE
        testResult='fail'
        and sn not in (SELECT distinct sn
        FROM
        	tb_oc1
        WHERE
        testResult='success'
        and
        	testTime between #{daytime}' 00:00:00' AND #{daytime}' 23:59:59'
        and model=#{model})
        and
        	testTime between #{daytime}' 00:00:00' AND #{daytime}' 23:59:59'
        and  model=#{model}
    </select>



</mapper>